---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=<FLICKR_API_KEY>&content_type=1&format=json&lat=48.856614&lon=2.3522219&method=flickr.photos.search&nojsoncallback=1&per_page=15&safe_search=1&sort=interestingness-desc&tags=downtown,sky
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":1091,"perpage":15,"total":"16364","photo":[{"id":"45076145644","owner":"45328076@N06","secret":"c133a64a02","server":"4843","farm":5,"title":"Paris
        sera toujours Paris","ispublic":1,"isfriend":0,"isfamily":0},{"id":"28982790947","owner":"32411159@N05","secret":"b20ae9d8e6","server":"940","farm":1,"title":"Eiffel
        Tower lit up","ispublic":1,"isfriend":0,"isfamily":0},{"id":"29860146328","owner":"42819205@N05","secret":"915e98d420","server":"939","farm":1,"title":"We
        flew into the city of Love....","ispublic":1,"isfriend":0,"isfamily":0},{"id":"25711575437","owner":"7156765@N05","secret":"fdaae89694","server":"4788","farm":5,"title":"Paris  France
        -  Church of Saint-Roch -\u00[...]
